# One Hot Encoding

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [3]:
df = pd.get_dummies(df, drop_first=True)

In [4]:
df

,survived,pclass,age,sibsp,parch,fare,adult_male,alone,sex_male,embarked_Q,...,who_woman,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,embark_town_Queenstown,embark_town_Southampton,alive_yes
0,0,3,22.0,1,0,7.2500,True,False,1,0,...,0,0,0,0,0,0,0,0,1,0
1,1,1,38.0,1,0,71.2833,False,False,0,0,...,1,0,1,0,0,0,0,0,0,1
2,1,3,26.0,0,0,7.9250,False,True,0,0,...,1,0,0,0,0,0,0,0,1,1
3,1,1,35.0,1,0,53.1000,False,False,0,0,...,1,0,1,0,0,0,0,0,1,1
4,0,3,35.0,0,0,8.0500,True,True,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,0,0,13.0000,True,True,1,0,...,0,0,0,0,0,0,0,0,1,0
887,1,1,19.0,0,0,30.0000,False,True,0,0,...,1,1,0,0,0,0,0,0,1,1
888,0,3,NaN,1,2,23.4500,False,False,0,0,...,1,0,0,0,0,0,0,0,1,0
889,1,1,26.0,0,0,30.0000,True,True,1,0,...,0,0,1,0,0,0,0,0,0,1
890,0,3,32.0,0,0,7.7500,True,True,1,1,...,0,0,0,0,0,0,0,1,0,0

In [5]:
df.dropna(inplace=True)

# Scaling Methods

# MinMax Scalar

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
minmax = MinMaxScaler()

In [8]:
x = df[['age']]

In [9]:
x

      age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
885  39.0
886  27.0
887  19.0
889  26.0
890  32.0

[714 rows x 1 columns]

In [10]:
x_transformed = minmax.fit_transform(x)

In [11]:
x_transformed

array([[0.27117366],
       [0.4722292 ],
       [0.32143755],
       [0.43453129],
       [0.43453129],
       [0.67328474],
       [0.01985423],
       [0.33400352],
       [0.17064589],
       [0.04498618],
       [0.72354863],
       [0.24604172],
       [0.48479517],
       [0.17064589],
       [0.68585072],
       [0.01985423],
       [0.3842674 ],
       [0.43453129],
       [0.42196532],
       [0.18321186],
       [0.34656949],
       [0.09525006],
       [0.4722292 ],
       [0.23347575],
       [0.49736115],
       [0.8240764 ],
       [0.34656949],
       [0.52249309],
       [0.25860769],
       [0.22090978],
       [0.17064589],
       [0.49736115],
       [0.33400352],
       [0.03242021],
       [0.23347575],
       [0.22090978],
       [0.08268409],
       [0.25860769],
       [0.61045489],
       [0.35913546],
       [0.81151043],
       [0.25860769],
       [0.35285248],
       [0.05755215],
       [0.13294798],
       [0.27117366],
       [0.4722292 ],
       [0.560191  ],
       [0.04498618],
       [0.35913546],
       [0.23347575],
       [0.2083438 ],
       [0.32143755],
       [0.39683338],
       [0.19577783],
       [0.25860769],
       [0.32143755],
       [0.39683338],
       [0.30887158],
       [0.00515205],
       [0.37170143],
       [0.27117366],
       [0.35913546],
       [0.34656949],
       [0.2083438 ],
       [0.40939935],
       [0.19577783],
       [0.28373963],
       [0.2963056 ],
       [0.35913546],
       [0.24604172],
       [0.57275697],
       [0.32143755],
       [0.7361146 ],
       [0.88690626],
       [0.28373963],
       [0.42196532],
       [0.42196532],
       [0.34656949],
       [0.25860769],
       [0.40939935],
       [0.45966323],
       [0.34656949],
       [0.25860769],
       [0.4722292 ],
       [0.58532295],
       [0.17692888],
       [0.27117366],
       [0.24604172],
       [0.2083438 ],
       [0.25860769],
       [0.88062327],
       [0.35913546],
       [0.2963056 ],
       [0.01985423],
       [0.25860769],
       [0.40311636],
       [0.40311636],
       [0.67328474],
       [0.14551395],
       [0.2963056 ],
       [0.560191  ],
       [0.40939935],
       [0.24604172],
       [0.58532295],
       [0.35913546],
       [0.30887158],
       [0.28373963],
       [0.23347575],
       [0.45966323],
       [0.19577783],
       [0.2963056 ],
       [0.27117366],
       [0.2963056 ],
       [0.23347575],
       [0.22090978],
       [0.23347575],
       [0.33400352],
       [0.10781603],
       [0.45338025],
       [0.52249309],
       [0.63558683],
       [0.27117366],
       [0.6921337 ],
       [0.50364413],
       [0.63558683],
       [0.19577783],
       [0.37170143],
       [0.54762503],
       [0.49736115],
       [0.32143755],
       [0.2083438 ],
       [0.00728826],
       [0.10781603],
       [0.560191  ],
       [0.34656949],
       [0.76124654],
       [0.04498618],
       [0.00728826],
       [0.25860769],
       [0.69841669],
       [0.22090978],
       [0.62302086],
       [0.37170143],
       [0.44709726],
       [0.10781603],
       [0.00728826],
       [0.04498618],
       [0.560191  ],
       [0.49736115],
       [0.44709726],
       [0.39683338],
       [0.23347575],
       [0.23347575],
       [0.03242021],
       [0.54762503],
       [0.72354863],
       [0.52249309],
       [0.2963056 ],
       [0.34656949],
       [0.42196532],
       [0.56647399],
       [0.22090978],
       [0.01985423],
       [0.39683338],
       [0.32143755],
       [0.19577783],
       [0.49736115],
       [0.2963056 ],
       [0.43453129],
       [0.27117366],
       [0.37170143],
       [0.3842674 ],
       [0.33400352],
       [0.52249309],
       [0.39683338],
       [0.37170143],
       [0.19577783],
       [0.33400352],
       [0.63558683],
       [0.4722292 ],
       [0.27117366],
       [0.23347575],
       [0.2523247 ],
       [0.22090978],
       [0.43453129],
       [0.35913546],
       [0.7361146 ],
       [0.05755215],
       [0.2963056 ],
       [0.54762503],
       [0.09525006],
       [0.23347575],
       [0.40939935],
       [0.35913546],
       [0.27117366],
       [0.37170143],
       [0.54762503],
       [0.30887158],
       [0.2963056 ],
       [0.45966323],
       [0.67328474],
       [0.35913546],
       [0.77381252],
       [0.37170143],
       [0.50992712],
       [0.35913546],
       [0.37170143],
       [0.43453129],
       [0.62302086],
       [0.03242021],
       [0.6481528 ],
       [0.49736115],
       [0.44709726],
       [0.19577783],
       [0.30887158],
       [0.72354863],
       [0.43453129],
       [0.30887158],
       [0.50992712],
       [0.45966323],
       [0.78637849],
       [0.560191  ],
       [0.08268409],
       [0.43453129],
       [0.81151043],
       [0.34656949],
       [0.19577783],
       [0.23347575],
       [0.40939935],
       [0.37170143],
       [0.27117366],
       [0.52249309],
       [0.27117366],
       [0.32143755],
       [0.23347575],
       [0.44709726],
       [0.2963056 ],
       [0.2963056 ],
       [0.29002262],
       [0.01985423],
       [0.62302086],
       [0.23347575],
       [0.00628299],
       [0.2083438 ],
       [0.37170143],
       [0.37170143],
       [0.2963056 ],
       [0.22090978],
       [0.32143755],
       [0.34656949],
       [0.53505906],
       [0.32143755],
       [0.2963056 ],
       [0.67328474],
       [0.3842674 ],
       [0.49736115],
       [0.27117366],
       [0.33400352],
       [0.37170143],
       [0.27117366],
       [0.44709726],
       [0.76124654],
       [0.44709726],
       [0.3842674 ],
       [0.19577783],
       [0.56647399],
       [0.4722292 ],
       [0.19577783],
       [0.35913546],
       [0.50992712],
       [0.560191  ],
       [0.560191  ],
       [0.01985423],
       [0.2963056 ],
       [0.34656949],
       [0.30887158],
       [0.44709726],
       [0.2963056 ],
       [0.49736115],
       [0.03242021],
       [0.52249309],
       [0.28373963],
       [0.18321186],
       [0.30887158],
       [0.34656949],
       [0.27117366],
       [0.4722292 ],
       [0.49736115],
       [0.35913546],
       [0.560191  ],
       [0.43453129],
       [0.37170143],
       [0.74868057],
       [0.2963056 ],
       [0.30887158],
       [0.22090978],
       [0.23347575],
       [0.27117366],
       [0.03242021],
       [0.27117366],
       [0.33400352],
       [0.24604172],
       [0.23347575],
       [0.52249309],
       [0.00728826],
       [0.39683338],
       [0.43453129],
       [0.22090978],
       [0.00728826],
       [0.44709726],
       [0.2083438 ],
       [0.44709726],
       [0.25860769],
       [0.34656949],
       [0.28373963],
       [0.2963056 ],
       [0.27117366],
       [0.3842674 ],
       [0.57275697],
       [0.28373963],
       [0.34656949],
       [0.48479517],
       [0.32143755],
       [0.25860769],
       [0.34656949],
       [0.24604172],
       [0.42196532],
       [0.63558683],
       [0.03242021],
       [0.25860769],
       [0.40939935],
       [0.54762503],
       [0.42196532],
       [0.22090978],
       [0.37170143],
       [0.12038201],
       [0.25860769],
       [0.35913546],
       [0.34656949],
       [0.22090978],
       [0.34656949],
       [0.23347575],
       [0.39683338],
       [0.34656949],
       [0.52249309],
       [0.2083438 ],
       [0.62302086],
       [0.17064589],
       [0.25860769],
       [0.2963056 ],
       [0.79894446],
       [0.3842674 ],
       [0.560191  ],
       [0.24604172],
       [0.30887158],
       [0.34656949],
       [0.04498618],
       [0.15807992],
       [0.42196532],
       [0.05755215],
       [0.6481528 ],
       [0.44709726],
       [0.37170143],
       [0.61045489],
       [0.35913546],
       [0.81151043],
       [0.62302086],
       [0.59788892],
       [0.42196532],
       [0.58532295],
       [0.59788892],
       [0.4722292 ],
       [0.69841669],
       [0.00414677],
       [0.4722292 ],
       [0.40939935],
       [0.28373963],
       [0.27117366],
       [0.42196532],
       [0.35913546],
       [0.27117366],
       [0.01985423],
       [0.10781603],
       [0.62302086],
       [0.78637849],
       [0.30887158],
       [0.43453129],
       [0.72354863],
       [0.37170143],
       [0.10781603],
       [0.25860769],
       [0.68585072],
       [0.88690626],
       [0.25860769],
       [0.67328474],
       [0.30887158],
       [0.2963056 ],
       [0.2083438 ],
       [0.25860769],
       [0.45966323],
       [0.19577783],
       [0.22090978],
       [0.40939935],
       [0.34656949],
       [0.32143755],
       [0.35913546],
       [0.44709726],
       [0.67328474],
       [0.2963056 ],
       [0.58532295],
       [0.42196532],
       [0.44709726],
       [0.39683338],
       [0.37170143],
       [0.27117366],
       [0.54762503],
       [0.50364413],
       [0.62302086],
       [0.48479517],
       [0.28373963],
       [0.01985423],
       [0.2083438 ],
       [0.37170143],
       [0.08268409],
       [0.560191  ],
       [0.37170143],
       [0.27117366],
       [0.44709726],
       [0.10781603],
       [0.13294798],
       [0.39683338],
       [0.62302086],
       [0.79894446],
       [0.23347575],
       [0.40939935],
       [0.09525006],
       [0.2083438 ],
       [0.33400352],
       [0.27117366],
       [0.27117366],
       [0.77381252],
       [0.59788892],
       [0.48479517],
       [0.44709726],
       [0.49736115],
       [0.34656949],
       [0.2963056 ],
       [0.23347575],
       [0.35913546],
       [0.39683338],
       [0.77381252],
       [0.66071877],
       [0.44709726],
       [0.19577783],
       [0.23347575],
       [0.42196532],
       [0.48479517],
       [0.39683338],
       [0.30887158],
       [0.48479517],
       [0.67328474],
       [0.44709726],
       [0.22090978],
       [0.58532295],
       [0.74868057],
       [0.27117366],
       [0.43453129],
       [0.6481528 ],
       [0.58532295],
       [0.45966323],
       [0.44709726],
       [0.61045489],
       [0.61045489],
       [0.2963056 ],
       [0.54762503],
       [0.43453129],
       [0.44709726],
       [0.37170143],
       [0.33400352],
       [0.27117366],
       [0.49736115],
       [0.48479517],
       [0.43453129],
       [0.2963056 ],
       [0.42196532],
       [0.32143755],
       [0.04498618],
       [0.32143755],
       [0.33400352],
       [0.52249309],
       [0.24604172],
       [0.25860769],
       [0.25860769],
       [0.76124654],
       [0.71098266],
       [0.25860769],
       [0.32143755],
       [1.        ],
       [0.63558683],
       [0.39683338],
       [0.10781603],
       [0.34656949],
       [0.39683338],
       [0.3842674 ],
       [0.50992712],
       [0.24604172],
       [0.2963056 ],
       [0.01985423],
       [0.00414677],
       [0.59788892],
       [0.23347575],
       [0.69841669],
       [0.28373963],
       [0.22090978],
       [0.25860769],
       [0.22090978],
       [0.2963056 ],
       [0.39683338],
       [0.28373963],
       [0.72354863],
       [0.62302086],
       [0.49736115],
       [0.58532295],
       [0.44709726],
       [0.24604172],
       [0.39683338],
       [0.30887158],
       [0.53505906],
       [0.49736115],
       [0.3842674 ],
       [0.87434029],
       [0.3842674 ],
       [0.22090978],
       [0.30258859],
       [0.22090978],
       [0.53505906],
       [0.44709726],
       [0.33400352],
       [0.24604172],
       [0.17064589],
       [0.74868057],
       [0.30887158],
       [0.17064589],
       [0.23347575],
       [0.22090978],
       [0.18321186],
       [0.3842674 ],
       [0.04498618],
       [0.30887158],
       [0.74868057],
       [0.6481528 ],
       [0.54762503],
       [0.61045489],
       [0.52249309],
       [0.22090978],
       [0.43453129],
       [0.22090978],
       [0.30887158],
       [0.32143755],
       [0.48479517],
       [0.560191  ],
       [0.52249309],
       [0.27117366],
       [0.2963056 ],
       [0.59788892],
       [0.35913546],
       [0.6481528 ],
       [0.23347575],
       [0.4722292 ],
       [0.33400352],
       [0.40939935],
       [0.07011812],
       [0.2083438 ],
       [0.42196532],
       [0.62302086],
       [0.33400352],
       [0.24604172],
       [0.37170143],
       [0.30887158],
       [0.30887158],
       [0.35913546],
       [0.13294798],
       [0.28373963],
       [0.28373963],
       [0.35285248],
       [0.59788892],
       [0.43453129],
       [0.44709726],
       [0.25860769],
       [0.2963056 ],
       [0.3842674 ],
       [0.87434029],
       [0.19577783],
       [0.37170143],
       [0.23347575],
       [0.3842674 ],
       [0.04498618],
       [0.07011812],
       [0.40939935],
       [0.28373963],
       [0.59788892],
       [0.00314149],
       [0.34656949],
       [0.22090978],
       [0.42196532],
       [0.40939935],
       [0.50992712],
       [0.24604172],
       [0.44709726],
       [0.19577783],
       [0.63558683],
       [0.37798442],
       [0.39683338],
       [0.2963056 ],
       [0.59788892],
       [0.71098266],
       [0.67328474],
       [0.22090978],
       [0.05755215],
       [0.53505906],
       [0.15807992],
       [0.2083438 ],
       [0.35913546],
       [0.30887158],
       [0.30887158],
       [0.22090978],
       [0.09525006],
       [0.00728826],
       [0.57275697],
       [0.19577783],
       [0.30887158],
       [0.48479517],
       [0.61045489],
       [0.3842674 ],
       [0.37170143],
       [0.37170143],
       [0.42196532],
       [0.3842674 ],
       [0.13294798],
       [0.        ],
       [0.33400352],
       [0.3842674 ],
       [0.48479517],
       [0.22090978],
       [0.48479517],
       [0.40939935],
       [0.32143755],
       [0.48479517],
       [0.43453129],
       [0.07011812],
       [0.37798442],
       [0.28373963],
       [0.3842674 ],
       [0.53505906],
       [0.12038201],
       [0.6481528 ],
       [0.33400352],
       [0.4722292 ],
       [0.33400352],
       [0.01985423],
       [0.00728826],
       [0.77381252],
       [0.18321186],
       [0.00515205],
       [0.28373963],
       [0.22090978],
       [0.48479517],
       [0.25860769],
       [0.39683338],
       [0.24604172],
       [0.19577783],
       [0.37170143],
       [0.4282483 ],
       [0.2083438 ],
       [0.52249309],
       [0.43453129],
       [0.34656949],
       [0.04498618],
       [0.92460417],
       [0.10781603],
       [0.19577783],
       [0.54762503],
       [0.22090978],
       [0.560191  ],
       [0.63558683],
       [0.2963056 ],
       [0.50992712],
       [0.25860769],
       [0.59788892],
       [0.2963056 ],
       [0.52249309],
       [0.33400352],
       [0.3842674 ],
       [0.04498618],
       [0.32143755],
       [0.58532295],
       [0.40939935],
       [0.58532295],
       [0.34656949],
       [0.18321186],
       [0.24604172],
       [0.23347575],
       [0.69841669],
       [0.30887158],
       [0.40939935],
       [0.27117366],
       [0.34656949],
       [0.30887158],
       [0.48479517],
       [0.33400352],
       [0.23347575],
       [0.32143755],
       [0.39683338]])

# Standard Scalar

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
sc = StandardScaler()

In [14]:
x_fare = df[['fare']].values

In [ ]:
x_fare_transformed